@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700&display=swap");
html, body, h1 {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#app {
  background: #0a0a0a;
}

#wrapper {
  background: #0a0a0a;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  text-align: center;
}

#wrapper:not(.wrapper) {
  background: #151515;
}

#wrapper.wrapper {
  display: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 10, 10, 0.6)), to(rgba(0, 0, 0, 0.9))), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url("https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1009&q=80");
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url("https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1009&q=80");
  background-size: cover;
  background-position: center;
}

#wrapper.visible {
  opacity: 0.5;
  -webkit-animation: visible 1s forwards;
          animation: visible 1s forwards;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.sub {
  color: #9aa2a2;
  letter-spacing: 1em;
  font-size: 20px;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: white;
  font-size: 2em;
  width: 60%;
  word-wrap: break-word;
  letter-spacing: .4em;
  /* Animation provies a slight random skew. Check bottom of doc
	for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch.😎 {
  font-size: 4em;
  font-weight: 600;
}

.glitch.😎.invisible {
  -webkit-animation: invisible 1s forwards;
          animation: invisible 1s forwards;
}

.glitch.😎.invisible.invisibleAgain {
  display: none;
}

.glitch.😎.visible {
  display: block;
  opacity: 0;
  visibility: hidden;
}

.glitch.😎.visible.visibleAgain {
  -webkit-animation: visible 1s forwards;
          animation: visible 1s forwards;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
		a typical top,right,bottom,left fashion and creates a mask
		to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
		with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@-webkit-keyframes invisible {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes invisible {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes visible {
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes visible {
  to {
    opacity: 1;
    visibility: visible;
  }
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(99px, 9999px, 63px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  5% {
    clip: rect(8px, 9999px, 61px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  10% {
    clip: rect(55px, 9999px, 57px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  15% {
    clip: rect(37px, 9999px, 7px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  20% {
    clip: rect(85px, 9999px, 71px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  25% {
    clip: rect(89px, 9999px, 68px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  30% {
    clip: rect(39px, 9999px, 78px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  35% {
    clip: rect(10px, 9999px, 41px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  40% {
    clip: rect(80px, 9999px, 38px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  45% {
    clip: rect(43px, 9999px, 81px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  50% {
    clip: rect(21px, 9999px, 74px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  55% {
    clip: rect(32px, 9999px, 71px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  60% {
    clip: rect(10px, 9999px, 49px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  65% {
    clip: rect(28px, 9999px, 7px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  70% {
    clip: rect(38px, 9999px, 77px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  75% {
    clip: rect(79px, 9999px, 67px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  80% {
    clip: rect(6px, 9999px, 83px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  85% {
    clip: rect(52px, 9999px, 25px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  90% {
    clip: rect(85px, 9999px, 36px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  95% {
    clip: rect(22px, 9999px, 58px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  100% {
    clip: rect(71px, 9999px, 99px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(99px, 9999px, 63px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  5% {
    clip: rect(8px, 9999px, 61px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
  10% {
    clip: rect(55px, 9999px, 57px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  15% {
    clip: rect(37px, 9999px, 7px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  20% {
    clip: rect(85px, 9999px, 71px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  25% {
    clip: rect(89px, 9999px, 68px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  30% {
    clip: rect(39px, 9999px, 78px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  35% {
    clip: rect(10px, 9999px, 41px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  40% {
    clip: rect(80px, 9999px, 38px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  45% {
    clip: rect(43px, 9999px, 81px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  50% {
    clip: rect(21px, 9999px, 74px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  55% {
    clip: rect(32px, 9999px, 71px, 0);
    -webkit-transform: skew(0.33deg);
            transform: skew(0.33deg);
  }
  60% {
    clip: rect(10px, 9999px, 49px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  65% {
    clip: rect(28px, 9999px, 7px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  70% {
    clip: rect(38px, 9999px, 77px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  75% {
    clip: rect(79px, 9999px, 67px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  80% {
    clip: rect(6px, 9999px, 83px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  85% {
    clip: rect(52px, 9999px, 25px, 0);
    -webkit-transform: skew(0.5deg);
            transform: skew(0.5deg);
  }
  90% {
    clip: rect(85px, 9999px, 36px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  95% {
    clip: rect(22px, 9999px, 58px, 0);
    -webkit-transform: skew(0.39deg);
            transform: skew(0.39deg);
  }
  100% {
    clip: rect(71px, 9999px, 99px, 0);
    -webkit-transform: skew(0.46deg);
            transform: skew(0.46deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(19px, 9999px, 36px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  5% {
    clip: rect(99px, 9999px, 79px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  10% {
    clip: rect(88px, 9999px, 40px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  15% {
    clip: rect(50px, 9999px, 5px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  20% {
    clip: rect(3px, 9999px, 36px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  25% {
    clip: rect(22px, 9999px, 54px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  30% {
    clip: rect(33px, 9999px, 76px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  35% {
    clip: rect(49px, 9999px, 17px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  40% {
    clip: rect(53px, 9999px, 57px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  45% {
    clip: rect(43px, 9999px, 43px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  50% {
    clip: rect(49px, 9999px, 60px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  55% {
    clip: rect(3px, 9999px, 68px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  60% {
    clip: rect(45px, 9999px, 81px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  65% {
    clip: rect(57px, 9999px, 10px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  70% {
    clip: rect(37px, 9999px, 36px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  75% {
    clip: rect(26px, 9999px, 67px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  80% {
    clip: rect(14px, 9999px, 46px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  85% {
    clip: rect(72px, 9999px, 64px, 0);
    -webkit-transform: skew(0.7deg);
            transform: skew(0.7deg);
  }
  90% {
    clip: rect(98px, 9999px, 61px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  95% {
    clip: rect(68px, 9999px, 16px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  100% {
    clip: rect(28px, 9999px, 29px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(19px, 9999px, 36px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  5% {
    clip: rect(99px, 9999px, 79px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  10% {
    clip: rect(88px, 9999px, 40px, 0);
    -webkit-transform: skew(0.72deg);
            transform: skew(0.72deg);
  }
  15% {
    clip: rect(50px, 9999px, 5px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  20% {
    clip: rect(3px, 9999px, 36px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  25% {
    clip: rect(22px, 9999px, 54px, 0);
    -webkit-transform: skew(0.79deg);
            transform: skew(0.79deg);
  }
  30% {
    clip: rect(33px, 9999px, 76px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  35% {
    clip: rect(49px, 9999px, 17px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  40% {
    clip: rect(53px, 9999px, 57px, 0);
    -webkit-transform: skew(0.27deg);
            transform: skew(0.27deg);
  }
  45% {
    clip: rect(43px, 9999px, 43px, 0);
    -webkit-transform: skew(0.83deg);
            transform: skew(0.83deg);
  }
  50% {
    clip: rect(49px, 9999px, 60px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  55% {
    clip: rect(3px, 9999px, 68px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  60% {
    clip: rect(45px, 9999px, 81px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  65% {
    clip: rect(57px, 9999px, 10px, 0);
    -webkit-transform: skew(0.2deg);
            transform: skew(0.2deg);
  }
  70% {
    clip: rect(37px, 9999px, 36px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  75% {
    clip: rect(26px, 9999px, 67px, 0);
    -webkit-transform: skew(0.13deg);
            transform: skew(0.13deg);
  }
  80% {
    clip: rect(14px, 9999px, 46px, 0);
    -webkit-transform: skew(0.62deg);
            transform: skew(0.62deg);
  }
  85% {
    clip: rect(72px, 9999px, 64px, 0);
    -webkit-transform: skew(0.7deg);
            transform: skew(0.7deg);
  }
  90% {
    clip: rect(98px, 9999px, 61px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  95% {
    clip: rect(68px, 9999px, 16px, 0);
    -webkit-transform: skew(0.3deg);
            transform: skew(0.3deg);
  }
  100% {
    clip: rect(28px, 9999px, 29px, 0);
    -webkit-transform: skew(0.81deg);
            transform: skew(0.81deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  10% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  20% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  30% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  40% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  50% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  60% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  70% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  80% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  90% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  10% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  20% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  30% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  40% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  50% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
  60% {
    -webkit-transform: skew(0deg);
            transform: skew(0deg);
  }
  70% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  80% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  90% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(-2deg);
            transform: skew(-2deg);
  }
}
/*# sourceMappingURL=style.css.map */