// Ignore all of this, scroll down until you see the next comment.
// I just like my eye candy. 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700&display=swap');


html, body, h1 {
	padding: 0;
	margin: 0; 
	font-family: 'Montserrat', sans-serif;
}

#app {
    background: rgb(10,10,10);

}


#wrapper {
    // display: none;
	background: rgb(10,10,10);
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;

    &:not(.wrapper) {
        background: #151515;
    }
    &.wrapper {
        display: none;

        background: linear-gradient(rgba(10,10,10,.6),rgba(0,0,0,.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px),
        url('https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1009&q=80');
        background-size: cover;
        background-position: center;
    
    }

    &.visible {
        opacity: 0.5;
        animation: visible 1s forwards;
        display: flex !important;

    }
    z-index: 1;
    text-align: center;

}


.sub {
	color: rgb(154, 162, 162);
    letter-spacing: 1em;
    font-size: 20px;
}

// Here's the meat and potatoes.

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
@mixin glitchCopy { 
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}

.glitch {
	position: relative;
	color: white;
    font-size: 2em;
    width: 60%;
    word-wrap: break-word;
    letter-spacing: .4em;
    &.😎 {
        font-size: 4em;
        font-weight: 600;
        &.invisible {
            animation: invisible 1s forwards;
            &.invisibleAgain {
                display: none;
            }
        }
        &.visible {
        
            display: block;
            opacity: 0;
            visibility: hidden;
            &.visibleAgain {
                animation: visible 1s forwards;

            }
        }
    }
	/* Animation provies a slight random skew. Check bottom of doc
	for more information on how to random skew. */
	animation: glitch-skew 1s infinite linear alternate-reverse;
	
	// Creates a copy before our text. 
	&::before{
		// Duplicates our text with the mixin.
		@include glitchCopy;
		// Scoots text slightly to the left for the color offset.
		left: 2px;
		// Creates the color 'shadow' that happens on the glitch.
		text-shadow: -2px 0 #ff00c1;
		/* Creates an initial clip for our glitch. This works in
		a typical top,right,bottom,left fashion and creates a mask
		to only show a certain part of the glitch at a time. */
		clip: rect(44px, 450px, 56px, 0);
		/* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
		with an alternating animation to keep things fresh. */
		animation: glitch-anim 5s infinite linear alternate-reverse;
	}
	
	// Creates a copy after our text. Note comments from ::before.
	&::after {
		@include glitchCopy;
		left: -2px;
		text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
		animation: glitch-anim2 1s infinite linear alternate-reverse;
	}
}

@keyframes invisible {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes visible {
    to {
        opacity: 1;
        visibility: visible;
    }
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
}